.top {
    display: flex;
    background-color: aquamarine;
    color:blueviolet;
    font-size: 20px;
    height: 60px;
    align-items: center;
    padding-left: 20px;
}

.box-1 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    align-items: center;
    text-align: left;

    padding: 30px;
    border: 5px solid #E5E000;
    border-radius: 30px;
    margin: 50px;
    
}

.box-header {
    font-weight: bold;
    padding-bottom: 20px;
}



.basement {
    display: flex;
    background-color: aquamarine;
    color:blueviolet;
    font-size: 20px;
    height: 60px;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: space-around;   
}